{% extends "layout.html" %}

{% block title %}대량반납 현황{% endblock %}

{% block content %}

<p></p>
<div class="col-md-2">
<div class="btn-group">
    <a href="{% url 'monitoring:add' %}" class="btn btn-info">대량반납 추가</a>
</div>
</div>
<p></p>

<div class="container">
<table class="table table-striped">
    {% if list %}
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">반납(예상)일</th>
            <th scope="col">원차량번호</th>
            <th scope="col">반납차량번호</th>
            <th scope="col">변경차량번호</th>
            <th scope="col">차종(모델)</th>
            <th scope="col">세부모델</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for mass in list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{mass.a_rdate|date:'Y-m-d'}}</td>
                <td>{{mass.car_num1}}</td>
                <td>{{mass.car_num2}}</td>
                <td>{{mass.car_num3}}</td>
                <td>{{mass.car_type}}</td>
                <td>{{mass.car_model}}</td>
                <td><a href="#" class="btn btn-dark btn-sm">상세보기</a> </td>
                <td><a href="#" class="btn btn-success btn-sm">반납관리</a> </td>
                <td><a href="#" class="btn btn-primary btn-sm">원상회복관리</a> </td>
            </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <thead>
        <tr>
            <th scope="col">반납 데이터가 없습니다. 차량을 확인해 주세요.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url 'monitoring:ban_board'%}" class="btn btn-danger btn-sm">확인</a></td>
        </tr>
    </tbody>
    {% endif %}
</table>
</div>

{% if is_paginated %}
<ul class="pagination justify-content-center pagination-sm">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'monitoring:mass_board' %}?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
    {% endif %}

    {% for object in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == forloop.counter %}disabled{% endif %}">
            <a class="page-link" href="{{request.path}}?page={{forloop.counter}}">{{forloop.counter}}</a>
        </li>
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{% url 'monitoring:mass_board' %}?page={{page_obj.next_page_number}}">Next</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}
